<section class="content-header"> <%= breadcrumb({ breadcrumbTitle: "User Management" }) %> </section>

<section class="content">
  <div class="box">
    <button class="btn btn-success btn-lg btn-in-batch" onclick="importFromCSV()">Import from CSV</button>
    <button class="btn btn-success btn-lg btn-in-batch" onclick="downloadTemplate()">Download Template</button>
    <button class="btn btn-success btn-lg btn-in-batch" onclick="submitAction()">Submit</button>
    <div id="view-table" class="box-body">
    </div>
  </div>
</section>