<section class="content-header"><%= breadcrumb({ breadcrumbTitle: "Batch User Management" }) %></section>

<section class="content">
  <div class="box">
    <button class="btn btn-success btn-lg" onclick="loadFromFile()">Load from file</button>
    <br>

    <button class="btn btn-success btn-lg" onclick="mytest()">Test</button>
    <div id="view-table" class="box-body">

    </div>
  </div>

</section>
